* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: rgb(9, 9, 121);
  background: linear-gradient(90deg, rgba(9, 9, 121, 1) 0%, rgba(33, 33, 125, 1) 41%, rgba(27, 64, 148, 1) 59%, rgba(14, 136, 200, 1) 100%, rgba(0, 212, 255, 1) 100%, rgba(2, 0, 36, 1) 100%);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #fafafa;
  border-radius: 14px;
  max-width: 500px;
  width: 100%;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

h2 {
  margin-bottom: 20px;
}

.form-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column-left,
.column-right {
  width: calc(50% - 16px);
  margin-bottom: 16px;
}

.column-left {
  margin-right: 8px;
}

.column-right {
  margin-left: 8px;
}

.form-content {
  width: 100%;
  padding-bottom: 1px;
  position: relative;
}

.form-content label {
  display: inline-block;
  margin-bottom: 4px;
}

.form-content input,
.form-content select {
  display: block;
  border-radius: 8px;
  padding: 10px;
  border: 2px solid #dfdfdf;
  margin-bottom: 10px;
}

.form-content a {
  position: absolute;
  bottom: -8px;
  left: 0;
  visibility: hidden;
}

.form-sexo {
  width: 100%;
}

.form-sexo label {
  display: flex;
  margin-bottom: 8px;
}

.input-radio {
  display: none;
}

.input-radio+span {
  position: relative;
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
  margin-right: 8px;
}

.input-radio+span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background-color: #8eabdc;
}

.input-radio:checked+span::before {
  background-color: #000000;
}

.form button {
  background-color: #200b7c;
  color: #fff;
  width: 100%;
  border-radius: 8px;
  padding: 12px;
  border: 0;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.form button:hover{
background-color:#427496;
}


.form-content.error input {
  border-color: #ff3b25;
}

.form-content.error a {
  color: #ff3b25;
  visibility: visible;
  font-size: 12px;
}
